[Desktop Entry]
Name=Cloudfin
Comment=Cloudfin Desktop UI
Exec=cloudfin-ui
Icon=com.cloudfin.UI
Terminal=false
Type=Application
Categories=Network;Utility;
Keywords=cloudfin;p2p;sync;
StartupWMClass=cloudfin-ui
